<script src="js/game/config.js"></script>
<script src="js/game/app.js"></script>
<script src="js/game/asteroids.js"></script>
<script src="js/game/shooting.js"></script>
<script src="js/game/powerups.js"></script>

<script src="js/socket.js"></script>
</body>
</html>
