{{> header }}

<div id="login">
  <form id="loginForm">
    <input type="text" name="shipname" placeholder="Ship name" value="ship" id="shipname">
    <input type="submit" value="Join">
  </form>
</div>

<div id="cosmic"></div>

{{> footer }}
