// out: style.css, compress: true

* { box-sizing: border-box; }

html {
  body {
    margin: 0;
    padding: 0;
    background: #000;
  }
}

#login {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  #loginForm {
    width: 300px;
    height: 100px;
    margin: 100px auto;
    input {
      display: block;
      border-radius: 5px;
    }
    input[type="text"] {
      width: 100%;
      height: 50px;
      background: #000;
      border: 3px solid #fff;
      font-size: 22px;
      padding: 0 10px;
      color: #fff;
    }
    input[type="submit"] {
      width: 50%;
      height: 25px;
      background: linear-gradient(to bottom, gray, white);
      border: 0;
      border-radius: 5px;
      color: #000;
      font-size: 15px;
      margin: 10px auto 0 auto;
    }
  }
}

#cosmic {
  width: 800px;
  height: 600px;
  margin: 0 auto;
}
